{% extends 'common/base.html' %}
{% block content %}
    <!-- Header -->
    <section id="header" class="main-header contact-header inner-header">
        <div class="container">
            {% include 'partials/nav.html' %}

            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="../common/index.html">Home</a></li>
                        <li class="active">Sign In</li>
                    </ol>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->

    <div class="add_robot">
        <h2>Add Robot</h2>
        <form action="{% url 'add robot' %}" method="post">
            {{ form.as_p }}
            <button class="add-btn" type="submit">Add Robot</button>
            {% csrf_token %}
        </form>
    </div>


{% endblock %}