{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <!-- Header -->
    <section id="header" class="main-header contact-header inner-header">
        <div class="container">
            {% include 'partials/nav.html' %}

            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="../common/index.html">Home</a></li>
                        <li class="active">profile delete</li>
                    </ol>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->

    <!-- Start Delete Profile Section -->
    <section class="profile delete">
        <div class="container page-bgc">
            <div class="row">
                <div class="boxed">
                    <div class="col-sm-8">
                        <h4>Profile delete</h4><br/>
                        <form action="{% url 'profile delete' pk=request.user.pk %}" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        Are you sure you want to delete your profile?
                                    </div> <!-- /.form-group -->
                                </div> <!-- /.col-sm-6 -->

                                <div class="text-center mt20 col-sm-12">

                                    <button type="submit" class="add-btn" id="submit" value="submit">Delete
                                    </button>

                                    {% csrf_token %}
                                </div>

                            </div>

                        </form>
                         <div class="text-center mt20 col-sm-12">

                             <a href="javascript:history.go(-1)"><button>Back</button></a>

                        <div id="contactFormResponse"></div>
                    </div> <!-- /.col-sm-8 -->
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="delete-profile">
        <h1>
            Are you sure you want to delete your profile?
        </h1>
        <div class="sure-buttons">
            <form method="post" action="{% url 'profile delete' pk=request.user.pk %}">
                <button>Yes</button>
                {% csrf_token %}
            </form>
            <a href="javascript:history.go(-1)"><button>Back</button></a>-->
           <!-- <a href="{% url 'profile details' pk=request.user.pk %}"><button>Go Back</button></a> -->
        </div>
    </div>
    <!-- End Delete Profile Section -->

{% endblock %}