{% extends 'common/base.html' %}
{% block content %}
    <!-- Header -->
    <section id="header" class="main-header contact-header inner-header">
        <div class="container">
            {% include 'partials/nav.html' %}

            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="../common/index.html">Home</a></li>
                        <li class="active">Profile details</li>
                    </ol>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->

    <section class="shop">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase mb-0">Profile</h5><br/>
                        </div>
                        <div class="col-sm-12">
                            First name: {{ user.first_name }}<br/>
                            Last name: {{ user.last_name }}<br/>
                            Email: {{ user.email }}<br/>
                            City: {{ user.city }}<br/>
                            Address: {{ user.address }}<br/><br/><br/><br/><br/>
                        </div>
                        <div class="row">
                            <div class="boxed">
                                <h4>My Robots</h4><br/>
                                {% for robot in my_robots %}
                                    <div class="col-sm-6">
                                        <div class="shop-box">
                                            <img class="img-thumbnail" style="max-height: 200px"
                                                 src="{{ robot.robot_name.image_url }}" alt="shop">
                                        </div>
                                        <div class="shop-box-title">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h4>Type: {{ robot.type }}</h4>
                                                    <h4>Name: <span class="thin"> {{ robot.robot_name }}</span></h4>
                                                    <h4>Description: <span
                                                            class="thin"> {{ robot.robot_name.description }}</span>
                                                    </h4>

                                                    <form action="{% url 'add user robots' pk=request.user.pk %}"
                                                          method="post">
                                                        <input type="hidden" class="form-control" name="user"
                                                               value="{{ request.user.pk }}">
                                                        <input type="hidden" class="form-control" name="robot_name"
                                                               value="{{ robot.pk }}">
                                                        <input type="hidden" class="form-control"
                                                               name="user_robots_quantity" value="1">
                                                        <button class="add-btn" type="submit">Add User Robot</button>
                                                        {% csrf_token %}
                                                    </form>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="shop-price">
                                                        Qty: {{ robot.user_robots_quantity }}
                                                    </p>

                                                    <div class="star">
                                                        <span class="ion-ios-star"></span>
                                                        <span class="ion-ios-star"></span>
                                                        <span class="ion-ios-star"></span>
                                                        <span class="ion-ios-star-half"></span>
                                                        <span class="ion-ios-star-outline"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
   <!-- Has permision {{ user.has_perm }}
    {% if perms.accounts.delete_appuser %}
        <strong> have permission to delete an user</strong><br/>
    {% else %}
        <strong>You DON have permissions</strong><br/>
    {% endif %}
    All perms:
    <ul>
        {% for asd in user.get_all_permissions %}
            <li>
                {{ asd }} <br/>
            </li>
        {% endfor %}
    </ul> -->

{% endblock %}