{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <section id="header" class="main-header about-header inner-header">
        <div class="container">

            {% include 'partials/nav.html' %}

            <div class="intro row">
                <div class="overlay"></div>
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div> <!-- /.intro.row -->
        </div> <!-- /.container -->
        <div class="nutral"></div>
    </section> <!-- /#header -->
    <!-- About -->
    <section class="about">
        <div class="container page-bgc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box">
                        <p>Feel free to</p>
                        <h2 class="title mt0">Know ourselfs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="boxed">
                    <div class="col-sm-12">
                        <p class="inner-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Services -->
            <div class="service">
                <div class="row">
                    <div class="boxed">
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <div class="icon">
                                        <span class="ion-ios-monitor"></span>
                                    </div>
                                    <div class="mt-10">
                                        DIY-Friendly
                                    </div>
                                </div>
                                <p>
                                    Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                    Ipsum is simply dummy text.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <div class="icon">
                                        <span class="ion-person"></span>
                                    </div>
                                    <div class="mt-10">
                                        Amazing support
                                    </div>
                                </div>
                                <p>
                                    Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                    Ipsum is simply dummy text.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <div class="icon">
                                        <span class="ion-ios-cloud-upload"></span>
                                    </div>
                                    <div>
                                        In the cloud
                                    </div>
                                </div>
                                <p>
                                    Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                    Ipsum is simply dummy text.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <div class="icon">
                                        <span class="ion-android-options"></span>
                                    </div>
                                    <div class="mt-10">
                                        Flexible
                                    </div>
                                </div>
                                <p>
                                    Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                    Ipsum is simply dummy text.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <div class="icon">
                                        <span class="ion-ios-color-wand"></span>
                                    </div>
                                    <div class="mt-10">
                                        Economical
                                    </div>
                                </div>
                                <p>
                                    Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                    Ipsum is simply dummy text.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-box">
                                <div class="service-title">
                                    <div class="icon">
                                        <span class="ion-ios-cog"></span>
                                    </div>
                                    <div class="mt-10">
                                        Customizable
                                    </div>
                                </div>
                                <p>
                                    Class aptent taciti sociosqu litora torquent conubia nos per inceptos himenaeo Lorem
                                    Ipsum is simply dummy text.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Machine Man -->
            <div class="machine-man">
                <div class="row">
                    <div class="boxed">
                        <div class="col-sm-8">
                            <h4 class="m-s-title">CES 2015 Control Product of the Year</h4>
                            <h1 class="m-p-title">Convert your smart device into the ultimate remote control</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team -->

            <!-- CTA -->
            <div class="cta">
                <div class="row">
                    <div class="boxed">
                        <div class="col-sm-9">
                            <p>
                                If you love creating professional, beautiful and simple Robot or modify robot skills to
                                help quickly and efficiently, then we can’t wait to welcome you onto our team.
                            </p>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-robot btn-block" href="#">Send us your resume</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}